*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --back-main: #444B54;
    --section-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --color-button: #44BFFF;
    --color-text: #F5FBFF;
    --button-register: #F89B28;
    --box-background: #C9ECFF;
}
body{
    background: var(--back-main);
    display: flex;
}
ul li{    
    list-style: none;
    display: flex;
    margin-top: 5%;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    cursor: pointer;
}
ul li > img{
    width: 2rem;
}
ul li > a{
    font: bold 1rem Segoe UI;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 15%;
    text-transform: uppercase;
    color: var(--color-text);
    text-align: left;
}
.logo{
    width: 10rem;
}
#loc{
    background: var(--color-button);
}
section{
    width: 100%;
    height: 95vh;
    margin: 1%;
    margin-left: 2%;
    background: var(--section-background);
    border-radius: 15px;
    z-index: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font: bold 1.6rem Segoe UI;
    text-transform: uppercase;
    color: var(--back-main);
    font-weight: 700;
    display: flex;
    margin: 3.5%;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:35%;
}
.column > select{
    cursor: pointer;
}
.field{
    width: 95%;
    padding: 15px;
    margin: 1rem;
    background: var(--color-text);
    border: solid 3px var(--color-button);
    border-radius: 10px;
    box-shadow: 0px 3px 6px var(--color-button);
    outline: none;
    transition: 0.4s;
    font: bold 1rem Segoe UI;
    font-weight: 500;
}
label{
    font: bold 1rem Segoe UI;
    font-weight: 500;
    margin-left: 4%;
}
.button_order{
    background-color: var(--button-register);
    border: none;
    border-radius: 5px;
    color: var(--color-text);
    font: bold 1rem Segoe UI;
    text-transform: uppercase;
    padding:15px;
    width: 20%;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.4s;
}
.button_order:hover{
    opacity: 85%;
}