*{
    margin: 0;
    padding: 0;
}
:root{
    --main-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --background-details: #3D444D;
    --alert-red: #f04c47;
    --text: #444B54;
    --border-field: #44BFFF;
    --border-food:#FF94A1;
    --background-box: #C9ECFF;
    --button: #F89B28;
    --white: #F5FBFF;
}
body{
    background: var(--main-background);
    position: relative;
    min-height: 83vh;
}
section{
    margin-top: 8%;
}
.title{
    font: bold 1.5rem Segoe UI;
    color: var(--text);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_one, .box_two{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 15%;
    max-width: 35%;
    height: 350px;
    padding: 20px;
    margin: 3rem 3rem;
    background: var(--background-box);
    border: solid 5px var(--border-field);
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.4s;
}
.box_one:hover, .box_two:hover{
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.img_service{
    margin-bottom: 15%;
    width: 25%;
    min-width: 15%;
    max-width: 35%;
}
.title_service{
    font: bold 1.5rem Segoe UI;
    color: var(--text);
    font-weight: 700;
    margin-bottom: 5%;
}
.price_service{
    font: bold 1.2rem Segoe UI;
    color: var(--text);
    font-weight: 600;
}
.btn_service{
    position: absolute;
    text-align: center;
    font: bold 1.2rem Segoe UI;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 25px;
    margin-top: 90%;
    width: 60%;
    min-width: 30%;
    max-width: 70%;
    background: var(--button);
    border-radius: 15px;
}
.btn_service:hover{
    opacity: 95%;
}