*{
    margin: 0;
    padding: 0;
}
:root{
    --main-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --background-details: #3D444D;
    --alert-red: #f04c47;
    --text: #444B54;
    --border-field: #44BFFF;
    --border-food:#FF94A1;
    --background-box: #C9ECFF;
    --button: #F89B28;
    --white: #F5FBFF;
}
body{
    background: var(--main-background);
    position: relative;
    min-height: 87vh;
}
section{
    margin-top: 6%;
    display: flex;
}

.back{
    position: absolute;
    background: var(--background-details);
    margin: 0.5% 3%;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.back_img{
    background-color:#88D6FF;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    justify-content: center; 
    align-items: center; 
    display: flex;
}

.img_back{
    width: 2rem;
    min-width: 2rem;
    max-width: 3rem;
}
.img_user{
    width: 3rem;
    min-width: 2rem;
    max-width: 5rem;
}

main{
    display: flex;
    flex-direction: row;
    margin: 5% 10%;   
}
.box_profile{
    background: var(--background-box);
    border-radius: 25px;
    border: solid 4px var(--border-field);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    margin-right: 5%;
    width: 130%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_consulta{
    background: var(--background-box);
    border-radius: 25px;
    border: solid 4px var(--border-field);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 310%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: none;
    display: flex;
}
.colunm_one, .colunm_two{
    justify-content: center;
    width: 100%;
}
.field-select{
    background: none;
    padding: 10px 100px 10px 10px;
    border-radius: 0 15px 15px 15px;
    border: solid 3px var(--border-field);
    width: 90%;
    font: bold 1rem Segoe UI;
    color: rgba(0, 0, 0, 0.39);
    cursor: pointer;
    margin: 3%;
}
.field-description{
    resize: none;
    background: none;
    padding: 10px 60px 10px 10px;
    border-radius: 0 15px 15px 15px;
    border: solid 3px var(--border-field);
    width: 60%;
    height: 150px;
    font: bold 1rem Segoe UI;
    color: var(--background-details);
    cursor:auto;
    margin: 3%;
}
.field-description::placeholder{
    color: rgba(0, 0, 0, 0.39);
}
.field-time, .field-date{
    background: none;
    padding: 10px 10px 10px 10px;
    border-radius: 0 15px 15px 15px;
    border: solid 3px var(--border-field);
    width: 50%;
    font: bold 1rem Segoe UI;
    color: rgba(0, 0, 0, 0.39);
    cursor: pointer;
    margin: 3%;
}
.link_card{
    font: bold 0.8rem Segoe UI;
    margin: 3%;
    font-weight: 500;
    color: var(--text);
}

.title_name{
    font: bold 1.5rem Segoe UI;
    color: var(--text);
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 15%;
}
.sub_title{
    font: normal 1rem Segoe UI;
    color: var(--text);
    margin: 2%;
}
.btn_profile{
    text-align: center;
    font: bold 1.2rem Segoe UI;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 15px;
    margin-top: 15%;
    width: 70%;
    min-width: 30%;
    max-width: 70%;
    background: var(--button);
    border-radius: 15px;
}
.btn_profile:hover{
    opacity: 90%;
    transition: 0.5s;
}
.title_service{
    font: bold 1.5rem Segoe UI;
    color: var(--text);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.btn_agendar{
    background: var(--border-field);
    color: var(--white);
    padding: 20px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    font: bold 1rem Segoe UI;
    width: 35%;
    cursor: pointer;
    margin-top: 2%;
}
