*{
    margin: 0;
    padding: 0;
}
:root{
    --main-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --background-details: #3D444D;
    --alert-red: #f04c47;
    --text: #444B54;
    --border-field: #44BFFF;
    --border-food:#FF94A1;
    --button: #F89B28;
    --white: #F5FBFF;
}
body{
    background: var(--main-background);
    position: relative;
    min-height: 100vh;
}
section{
    margin-top: 8%;
}
.text{
    font: bold 14pt Segoe UI;
    color: var(--text);
    text-align: center;
    margin: 0 0 0 16%;
    white-space: nowrap;
}
.container{
    display: flex;
}
.car_container{
    background: #CFEDFD;
    border-radius: 25px;
    box-shadow: 2px 2px 5px var(--border-field);
    height: 190px;
    width: 82%;
    display: flex;
    margin: 2% 0 0 9%;
}
.img_car{
    max-width: 20%;
    max-height: 150px;
    margin: 2% 0 0 5%;
}
table{
    margin: 4%;
}
td{
    justify-content: center;
    text-align: center;
    padding-left: 5%;
}
.subtext{
    font: normal 12pt Segoe UI;
    color: var(--text);
}
.btn_remove{
    color: var(--white);
    font: bold 11pt Segoe UI;
    text-align: center;
    background: red;
    border-radius: 10px;
    border: none;
    margin-left: 22%;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    max-height: 20%;
    height: 20%;
}
footer{
    bottom: 0;
    min-height: 90px;
    width: 99.6%;
    max-width: 99.6%;
    background: var(--background-details);
    border: solid 3px var(--border-field);
    border-bottom: none;
    border-radius: 37px 37px 0 0;
    position: fixed;
    z-index: 10;
}
.footer_sub{
    display: flex;
    padding: 30px 0px 0px 0px;
    justify-content: center;
    color: var(--white);
    font: bold 10pt Segoe UI; 
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
.btn_sell{
    margin: -0.2% 0 0 15%;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font: bold 14pt Segoe UI;
    color: var(--white);
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    background: var(--button);
    text-align: center;
}
