@import url("https://fontawesome.com/v4.7.0/icon/chevron-circle-down");

*{
    margin: 0;
    padding: 0;
}
:root{
    --main-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --alert-red: #f04c47;
    --text: #444B54;
    --border-field: #44BFFF;
    --button: #F89B28;
    --white: #F5FBFF;
}
body{
    background: var(--main-background);
    position: relative;
    min-height: 100vh;
}

section{
    margin-top: 10%;
}

#menu{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 10%;
    display: flex;
    z-index: 1000;
    background: var(--text);
}
#menu2{
    display: flex;
    margin-left: 15%; 
    align-items: center;
    list-style: none;
}
ul li{
    font-family: 'Segoe UI';
    font-size: 1.2em;
    color: var(--white);
    text-transform: uppercase;
    padding: 25px;
    cursor: pointer;
}
#loc {
    background: var(--border-field);
    padding: 5px 20px 5px 20px;
    border-radius: 300px;
}

.logo{
    width: 70px;
    margin-bottom: 19%
}
.car{
    width: 40px;
    margin: 10% 30px 0 0;
}
.user{
    max-width: 12%;
    max-height: 3%;
    border-radius: 8px;
    margin: 2% 0 0 5px;
}
.tit_category, .tit_filter, .tit_product{
    font: bold 1.3em Segoe UI;
    color: var(--text);
    margin: auto 6%;
}

.subTit_category{
    font: normal 1em Segoe UI;
    color: #000;
    margin: auto 5%;
    padding-top: 5%;
}
.container_one, .container_two{
    display: flex;
    margin: auto 3.5% 2% 3.5%;
}
.category, .filter{
    margin: 2%;
    display: flex;
}
.box_category{
    text-align: center;
    position: relative;
    background: var(--white);
    width: 25%;
    height: 100%;
    border: none;
    padding-top: 2%;
    margin: auto 1%;
    border-radius: 15px;
    cursor: pointer;
}

.img_category{
    width: 20%;
}
.search{
    margin-right: 5%;
    width: 100%;
    display: flex; 
}
.input_search{
    margin: 8% 5%;
    padding-left: 15px;
    background: var(--white);
    border: none;
    width: 115%;
    height: 50%;
    border-radius: 15px;
    outline: none;
    font: bold 16pt Segoe UI;
}
.input_search::placeholder{
    font: bold 16pt Segoe UI;
    opacity: 50%;
}
.buttonSearch{
    color: #fff;
    background: var(--button);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-top: 10%;
    width: 25%;
    height: 35%;
    transition: 0.5s;
    cursor: pointer;
}
.buttonSearch:hover{
    opacity: 80%;
}
.container_two{
    display: flex;
    margin: 1% 6%;
}
.field-select{
    padding: 10px 100px 10px 10px;
    border-radius: 15px;
    border: none;
    width: 210%;
    font: bold 14pt Segoe UI;
    color: rgba(0, 0, 0, 0.39);
    cursor: pointer;
}
.filter_products{
    margin-left: 25%;
    margin-bottom: 2%;
    width: 90%;
    display: flex;
}
.box_products{
    border: solid 3px var(--white);
    margin-left: 3%;
    padding: 1.5% 8%;
    background: var(--white);
    font: normal 10pt Segoe UI;
    text-transform: uppercase;
    border-radius: 70px;
    cursor: pointer;
}
.box_category:focus, .box_products:focus, .input_search:focus, .field-select:focus{
    border: solid 3px var(--button);
}

.container_three{
    margin: 2.5% ;
    display: flex;
}
.box_container{
    display: block;
    text-align: center;
    padding: 30px;
}
.box{ 
    cursor: pointer;
    border-radius: 30px;
    background: var(--white);
    min-width: 80%;
    max-width: 80%;
    min-height: 110%;
    max-height: 170%;
    
}
.box h4{
    font: bold 14pt Segoe UI;
    color: var(--text);
    margin-top: 5%;
    padding: 5px;
    font-weight: 500;
}
.box h3{
    font: bold 18pt Segoe UI;
    color: var(--text);
    margin-top: 5%;
    font-weight: 700;
}
.img_box{
    min-width: 100%;
    max-width: 100%;
    width: 300px;
    height: 210px;
}
.img_box > img{
    padding: 10px;
    padding-top: 30px;
    position: relative;
    min-width: 120px;
    max-width: 120px;
    min-height: 60%;
}
