
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informações - PalacePetz</title>
    <link rel="shortcut icon" href="https://www.kauavitorio.com/host-itens/logoPalacePetzMVC.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.kauavitorio.com/palacepetz/Funcionario/Info/Info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <nav id="menu">
        <ul id="menu2">
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/logo.png" style="width: 8rem" class="logo"></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/home.png" alt=""><a href="/funcionario" alt="" style="text-decoration:none">home</a></li>
            @if (@ViewBag.type_user == 1 || @ViewBag.type_user == 3)
            {
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/veterinario.png" alt=""><a href="/funcionario/servicos" alt="" style="text-decoration:none">Serviços</a></li>
                if (@ViewBag.type_user == 3)
                {
                    <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/employee.png" alt=""><a href="/gerente/funcionarios" alt="" style="text-decoration:none">Funcionários</a></li>
                }
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/users.png" alt=""><a href="/clientes" alt="" style="text-decoration:none">clientes</a></li>
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/products.png" alt=""><a href="/funcionario/funcoes/produtos" alt="" style="text-decoration:none">produtos</a></li>
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/stats.png" alt=""><a href="/empresa/estatisticas" alt="" style="text-decoration:none">relatório</a></li>
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/pedidos.png" alt=""><a href="/funcionario/pedidos" alt="" style="text-decoration:none">pedidos</a></li>
            }
            else
            {
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/veterinario.png" alt=""><a href="/funcionario/servicos" alt="" style="text-decoration:none">Consultas</a></li>
                <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/stats.png" alt=""><a href="/empresa/estatisticas" alt="" style="text-decoration:none">relatório</a></li>
            }

            <li id="loc"><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/info.png" alt=""><a href="/funcionario/informacoes" alt="" style="text-decoration:none">informações</a></li>
            <li><img src="https://www.kauavitorio.com/palacepetz/Funcionario/Home/navbar/logout.png" alt=""><a href="/logout/1" alt="" style="text-decoration:none">sair</a></li>
        </ul>
    </nav>
    <section>
        <h2 class="title">informações sobre a empresa</h2>
        <main>
            <div class="container">
                <div class="box">
                    <i class="fas fa-users" style="line-height: 100px; font-size: 50px; color: #00aeff"></i>
                    <h2>Quem Somos Nós?</h2>
                    <h4>
                        A Palace Petz foi criada pelo amor que os proprietários têm pelos animais.
                        Visando um bom tratamento aos bichinhos de estimação, não só com produtos, mas
                        auxiliando no cuidado fornecendo consultas veterinárias.
                    </h4>
                </div>
                <div class="box">
                    <i class="fas fa-pencil-ruler" style=" line-height: 100px; font-size: 50px; color: #00aeff"></i>
                    <h2>Missão e Visão</h2>
                    <h4>Pensando no que o seu bichinho de estimação precisa, com a melhor forma, que é com amor e carinho.</h4>
                </div>
                <div class="box">
                    <i class="fa fa-star" style=" line-height: 100px; font-size: 50px; color: #00aeff"></i>
                    <h2>Valores</h2>
                    <h4>
                        A satisfação da Palace é oferecer produtos de ótima qualidade que atenda desde os mimos até a necessidade
                        mais importante de nossos Petz.
                    </h4>
                </div>
            </div>
        </main>
    </section>
</body>
</html>