*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --back-main: #444B54;
    --section-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --color-button: #44BFFF;
    --color-text: #F5FBFF;
}
body{
    background: var(--back-main);
    display: flex;
}
ul li{    
    list-style: none;
    display: flex;
    margin-top: 5%;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    cursor: pointer;
}
ul li > img{
    width: 2.5rem;
}
ul li > a{
    font: bold 1rem Segoe UI;
    font-weight: 600;
    margin-top: 7%;
    margin-left: 15%;
    text-transform: uppercase;
    color: var(--color-text);
    text-align: left;
}
.logo{
    width: 10rem;
}
#loc{
    background: var(--color-button);
}
section{
    margin: 1%;
    margin-left: 2%;
    background: var(--section-background);
    display: flex;
    border-radius: 15px;
}
.container_one{
    box-shadow: rgba(68, 75, 84, 0.4) 5px 5px, rgba(68, 75, 84, 0.3) 10px 10px, rgba(68, 75, 84, 0.2) 15px 15px, rgba(68, 75, 84, 0.1) 20px 20px, rgba(68, 75, 84, 0.05) 25px 25px;
    margin: 15%;
    margin-top: 12%;
    margin-bottom: 1%;
    padding: 10px;
    background: var(--back-main);
    display: flex;
    width: 75%;
    height: 40%;
    text-transform: uppercase;
    border-radius: 15px;

}
.container_two{
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 10px;
}
.box_one, .box_two{
    box-shadow: rgba(68, 75, 84, 0.4) 5px 5px, rgba(68, 75, 84, 0.3) 10px 10px, rgba(68, 75, 84, 0.2) 15px 15px, rgba(68, 75, 84, 0.1) 20px 20px, rgba(68, 75, 84, 0.05) 25px 25px;
    background: var(--back-main);
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 200px;
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
}
.column_two{
    margin: 5%;
    margin-right: 10%;
}
.profile_user{
    box-shadow: rgba(68, 75, 84, 0.4) 5px 5px, rgba(68, 75, 84, 0.3) 10px 10px, rgba(68, 75, 84, 0.2) 15px 15px, rgba(68, 75, 84, 0.1) 20px 20px, rgba(68, 75, 84, 0.05) 25px 25px;
    background: var(--back-main);
    padding:50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
    height: 600px;
    border-radius: 25px;
}
.container_text{
    width: 50%;
}
.container_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180%;
}
.container_result{
    display: flex;
    margin-top: 5%;
    width: 100%;
}
.title_box{
    color: var(--color-text);
    font: bold 1.5rem Segoe UI;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15%;
}

.title_profile{
    color: var(--color-text);
    width: 180%;
    text-align: center;
    font: bold 1rem Segoe UI;
    font-weight: 700;
    letter-spacing: 1px;
}
.text_profile{
    color: var(--color-text);
    width: 110%;
    text-align: center;
    font: bold 1rem Segoe UI;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.result_profile{
    color: var(--color-text);
    width: 300%;
    text-align: justify;
    font: normal 1rem Segoe UI;
    font-weight: 400;
    letter-spacing: 1px;
}
.text_box{
    font: bold 1rem Segoe UI;
    font-weight: 600;
    color: var(--color-text);
    margin: 15%;
    width: 100%;
}

.button_stats{
    padding: 15px 25px 15px 25px;
    background: var(--color-button);
    text-decoration: none;
    color: var(--color-text);
    font: bold 1rem Segoe UI;
    margin: 15%;
    border-radius: 10px;
    transition: 0.4s;
}
.button_product, .button_forn{
    position: absolute;
    max-width: 20%;
    min-width: 10%;
    width: 15%;
    margin-top: 12%;
    padding: 15px;
    background: var(--color-button);
    text-decoration: none;
    color: var(--color-text);
    font: bold 1rem Segoe UI;
    border-radius: 10px;
    text-transform: uppercase;
}
.img_stats{
    max-width: 10rem;
    min-width: 5rem;
    width: 9rem;
    padding-top: 50px;
    margin-left: 20px;
}
.img_products, .img_forn{
    width: 35%;
    min-width: 30%;
    max-width: 40%;
}
.img_profile{
    max-width: 100px;
    min-width: 80px;
    width: 90px;
}