*{
    margin: 0;
    padding: 0;
}
:root{
    --main-background: linear-gradient(120deg, #88D6FF 0%, #CFEDFD 100%);
    --background-details: #3D444D;
    --alert-red: #f04c47;
    --text: #444B54;
    --border-field: #44BFFF;
    --border-food:#FF94A1;
    --background-box: #C9ECFF;
    --button: #F89B28;
    --white: #F5FBFF;
}
body{
    background: var(--main-background);
    position: relative;
    min-height: 100vh;
}
section{
    padding-top: 8%;
}

.title{
    font: bold 1.5rem Segoe UI;
    text-transform: uppercase;
    color: var(--text);
    font-weight: 700;
    margin-left: 8%;
} 
main{
    justify-content: center;
}
table{
    min-width: 70%;
}
.box{
    background: var(--background-box);
    border: solid 4px var(--border-field);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.349);
    display: flex;
    width: 80%;
    min-width: 40%;
    max-width: 70%;
    border-radius: 20px;
    margin: 3%;
    margin-left: 12%;
    justify-content: center;
    padding: 40px;
    margin-bottom: 6%;
}
.text_title{
    font: bold 1.1rem Segoe UI;
    color: var(--text);
    font-weight: 700;
    text-align: center;
}
.text_result{
    font: normal 1rem Segoe UI;
    color: var(--text);
    font-weight: 600;
    margin-left: 8%;
    text-align: center;
}
.btn_AcompanhaPedido{
    margin-top: 4.5%;
    position: absolute;
    background: var(--button);
    width: 20%;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font: bold 1.1rem Segoe UI;
    letter-spacing: 0.5px;
    color: var(--white);
    transition: 0.5s;
}
.btn_AcompanhaPedido:hover{
    background: #ec890f;
}